.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc-wrapper {
  width: 18em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.row {
  width: 100%;
  display: flex;
}
